{% set asset = asset ?? null %}
{% set width = width ?? null %}
{% set height = height ?? null %}
{% set sizes = sizes ?? null %}
{% set alt = alt ?? (asset ? asset.title : null) %}
{% set mode = mode ?? 'crop' %}
{% set position = position ?? 'center-center' %}
{% set class = class ?? '' %}
{% set id = id ?? '' %}
{% set quality = quality ?? 85 %}

{% if asset %}
	{% if asset.extension == 'svg' %}

		{# Handle SVG assets #}
		<span class="svg-wrap inline-block {{ class|length ? class : 'w-full h-auto' }}">{{ svg(asset)|attr({width: width ?? asset.getWidth, height: height ?? asset.getHeight }) }}</span>

	{% else %}

		{# General Image Handling #}
		{% set class = class|length > 0 ? class ~ ' lazyload' : class ~ 'lazyload' %}

		{% if craft.app.images.supportsWebP %}
			{% set imgInfo = {
        mode: mode,
        width: width,
        height: height,
        quality: quality,
        position: position,
        format: 'webp'
      } %}
		{% else %}
			{% set imgInfo = {
        mode: mode,
        width: width,
        height: height,
        quality: quality,
        position: position
      } %}
		{% endif %}

		{% if sizes|length > 0 %}
			{% do asset.setTransform(imgInfo) %}

			{# Use srcset #}
			<img {% if id|length %} id="{{ id }}" {% endif %} data-srcset="{{ asset.getSrcset(sizes) }}" width="{{ asset.getWidth(imgInfo) }}" height="{{ asset.getHeight(imgInfo) }}" alt="{{ alt }}" class="{{ class }}" loading="lazy"/>

		{% else %}

			{# Use Standard img element #}
			<img {% if id|length %} id="{{ id }}" {% endif %} data-src="{{ asset.getUrl(imgInfo) }}" width="{{ asset.getWidth(imgInfo) }}" height="{{ asset.getHeight(imgInfo) }}" alt="{{ alt }}" class="{{ class }}" loading="lazy"/>

		{% endif %}

	{% endif %}
{% endif %}
